<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="im.zhaojun.zfile.module.config.mapper.SystemConfigMapper">
    <resultMap id="BaseResultMap" type="im.zhaojun.zfile.module.config.model.entity.SystemConfig">
        <!--@mbg.generated-->
        <!--@Table system_config-->
        <id column="id" jdbcType="INTEGER" property="id"/>
        <result column="name" jdbcType="VARCHAR" property="name"/>
        <result column="value" jdbcType="VARCHAR" property="value"/>
        <result column="title" jdbcType="VARCHAR" property="title"/>
    </resultMap>
    
    <sql id="Base_Column_List">
        <!--@mbg.generated-->
        <choose>
            <when test="_databaseId == 'postgresql'">
                "id", "name", "value", "title"
            </when>
            <otherwise>
                id, `name`, `value`, title
            </otherwise>
        </choose>
    </sql>

    <sql id="Column_Name">
        <choose>
            <when test="_databaseId == 'postgresql'">"name"</when>
            <otherwise>`name`</otherwise>
        </choose>
    </sql>

    <select id="findAll" resultMap="BaseResultMap">
        select <include refid="Base_Column_List"/> from system_config
    </select>

    <select id="findByName" resultMap="BaseResultMap">
        select <include refid="Base_Column_List"/>
        from system_config
        where <include refid="Column_Name"/> = #{name,jdbcType=VARCHAR}
    </select>

    <insert id="saveAll" useGeneratedKeys="true" keyProperty="id">
        INSERT INTO system_config(
        <choose>
            <when test="_databaseId == 'postgresql'">
                "name", "value", "title"
            </when>
            <otherwise>
                `name`, `value`, `title`
            </otherwise>
        </choose>
        )VALUES
        <foreach collection="list" item="element" index="index" separator=",">
            (
            #{element.name,jdbcType=VARCHAR},
            #{element.value,jdbcType=VARCHAR},
            #{element.title,jdbcType=VARCHAR}
            )
        </foreach>
    </insert>

    <update id="updateById" databaseId="postgresql">
        UPDATE system_config 
        SET "name" = #{et.name}, "value" = #{et.value}, "title" = #{et.title}
        WHERE id = #{et.id}
    </update>

    <update id="updateById" databaseId="mysql">
        UPDATE system_config 
        SET `name` = #{et.name}, `value` = #{et.value}, `title` = #{et.title}
        WHERE id = #{et.id}
    </update>

    <update id="updateById" databaseId="sqlite">
        UPDATE system_config 
        SET name = #{et.name}, value = #{et.value}, title = #{et.title}
        WHERE id = #{et.id}
    </update>
</mapper>